{% extends 'base.html' %}
{% block content %}
<div class="d-flex pt-5 justify-content-center h-100">
    <div>
        <h1 class="text-center mb-5">
            Refinery
        </h1>
        <div class="text-center fs-3">
            {% if plan %}
                {% if not plan.get_current_book %}
                    <p class="my-4">
                        You're ready to start a new book.
                    </p>
                    <a class="btn btn-primary" href="{% url 'new_book' %}">
                        Select a Book
                    </a>
                {% else %}
                    <p class="my-4">
                        You're working your way through
                        <br />{{plan.get_current_book.title}}
                    </p>
                    {% if plan.get_current_book.verse_set.last %}
                        <p class="my-4">
                            You left off at {{plan.get_current_book.verse_set.last.chapter}}:{{plan.get_current_book.verse_set.last.verse_number}}.
                        </p>
                    {% endif %}
                    <p class="my-4">
                        Ready to get to it?
                    </p>
                
                    <a class="btn btn-primary" href="{% url 'prev_verses' %}">
                        Let's go!
                    </a>
                {% endif %}
            {% else %}
                <p class="my-4">
                    Refinery is an app for memorizing books of the Bible.
                </p>
                <p class="my-4">
                    Ready to get started?
                </p>
                <a class="btn btn-primary" href="{% url 'new_plan' %}">
                    Start a New Plan
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}