{% extends 'base.html' %}
{% block content %}
<div class="d-flex pt-5 justify-content-center h-100">
    <div>
        <h1 class="text-center mb-5">
            Review Yesterday's Verses
        </h1>
        <div class="fs-3">
            <p class="my-4">
                {{verses|safe}}
            </p>
            <p class="text-center my-4">
                Repeat these verses ten times to continue.
            </p>
            <p class="text-center my-4">
                <a class="btn btn-primary" 
                href="{% url 'review_verses' %}"
                _="init set times to 1
                on click increment times then if times is less than 10 then put `Repeated ${times} times` into my innerText end">
                    Okay
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}